
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body {
    font-family: "Arial", sans-serif;
    background-color: #f5f5f5;
    letter-spacing: -0.5px;
}
header, .header{
  height: 100%;
  background: #fff;
  display: revert;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 80px;
    margin-bottom: 15px;
    input[type="text"]{
      width: 250px;
      font-size: 12px;
      height: 30px;
    }
    input[type='button']{
      padding: 0 10px;
      font-size: 10px;
      margin-bottom: 0;
      height: 30px;
      line-height: 0;
    }


    &_btn{
        align-items: flex-start;
        input{
            color: #ffffff;
            background-color: #006fca;
            list-style: none;
            border: none;
            border-radius: 3px;
            padding: 7px 10px;
            margin-right: 5px;
            font-size: 12px;
            font-weight: bold;
        }
    }
}
.hide{
    background-color: red;
}
.header-top_search{
    display: flex;

    img{
        margin-right: 10px;
        width: 12px;
    }
    &-input{
        padding: 5px 7px;
        font-size: 70%;
        width: 180px;
        opacity: 0.5;
        border: 1px solid #aeaeae;

    }
}
  button {

    width: 20px;
    height: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 3px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 5px;
  }
  #backButton:hover,
  #nextButton:hover{
    background-color: rgb(208, 208, 208);
  }
  #monthDisplay{
    color: #000;
    text-transform: capitalize;
    font-size: 20px;
  }
  
  #header {
    padding: 30px 0;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #header .button {
    background-color:#fff;
    width: 10px;
    height: 10px;
    img{
        width: 5px;
    }
  }
  #container {
    max-width: 770px;
    margin: 0 auto;
    padding: 0 15px;
  }
  #weekdays {
    width: 100%;
    display: flex;
    color: #247BA0;
  }
  #weekdays div {
    width: 100%;
    flex: 0 0 calc(100% / 7);
    border: 1px solid #d3d3d3;
    height: 90px;
    background-color: #fff;
    color: #999;
    font-size: 12px;
    padding: 5px;
    
  }
  #today{
    height: 20px;
    width: 75px;
    padding: 0 10px;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 2px grey;
    border: none;
    border-radius: 3px;
    margin-bottom: 0;
    line-height: 0;

  }
  #today:hover{
    background-color: rgb(208, 208, 208);
  }

  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .month-calendar{
    box-shadow: inset 0 7px 10px -10px rgba(0, 0, 0, .5);
    width: 100%;
  }
  .day {
    width: 90px;
    flex: 0 0 calc(100% / 7);
    padding: 5px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 3px #CBD4C2;
    border: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    color: #999;

  }
  .day:hover {
    background-color: #e8faed;
  }
  
  .day + #currentDay {
    background-color:#f4f4f4;
    color: #000;
  }

  .day .event{
    background-color: #c2e4fe;
    color: #000;
  }

  .event{
    font-size: 10px;
    padding: 3px;
    color: black;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    font-weight: bold;

    
  }
  .event:nth-child(2){
    font-weight: normal;
  }
  .padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
  }
  #newEventModal, 
  #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;

    input[type="date"]{
      margin-bottom: 25px;
    }
  }
  #eventTitleInput,
  #eventTitleWorker {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;

  }
  #eventTitleInput.error,
  #eventTitleWorker.error,
  #eventDateInputAdd.error {
    border: 2px solid red;
  }

  #cancelButton, #deleteButton {
    background-color: #d36c6c;
    width: 90px;
    height: 30px;

  }
  .modalBtn{
    display: flex;
    justify-content: center;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
    width: 90px;
    height: 30px;

  }
  #eventText {
    font-size: 18px;
    font-weight: bold;
  }
  #eventWorker {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 125vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }


  .calendar div.hide{
    display: none;
    // visibility: hidden;
  }

  #newEventModal, #deleteEventModal{
    font-size: small;
  }

  .popup-window{
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;


  }

  .popup-input{
    input{
      margin-bottom: 10px;
    }
  }

  .popup-btn{
    display: flex;
    justify-content: center;
    input[type='button']{
      padding: 0 10px;
    }
    input{
      font-size: 10px;
      background-color: #92a1d1;
      width: 90px;
      height: 30px;
      line-height: 0;
    }
  }